.tc-table {
  &__image_upload_button {
    position: absolute;
    margin-left: 45px;
    margin-top: 45px;
    display: none;
    z-index: 2;
    width: 40px;
    height: 40px;
    span {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      background-color: white;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      transition: box-shadow 0.2s ease;
      &:hover {
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      }
      &:hover {
        box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      }
      svg {
        color: #368be6;
        width: 28px;
        height: 28px;
      }
    }
    input {
      pointer-events: none;
      user-select: none;
      opacity: 0;
      outline: 0;
      position: absolute;
    }
    &_visible {
      display: block;
    }
  }
}