.tc-table {
  &__wrapper_image {
    position: relative;
    &:hover {
      & > div {
        display: block;
      }
    }
  }
  &__wrapper_image_button {
    position: absolute;
    width: 50px;
    overflow: hidden;
    max-width: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    cursor: pointer;
    background-color: rgba(red, 0.2);
    display: none;
    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &:after, &:before {
        content: '';
        transform: rotate(45deg);
        position: absolute;
        height: 2px;
        width: 70%;
        border-radius: 1px;
        display: block;
        background-color: red;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:hover {
        background-color: red;
        &:after, &:before {
          background-color: white;
        }
      }
    }
  }
  &__image_upload_button {
    position: absolute;
    margin-left: 33px;
    margin-top: 33px;
    display: none;
    z-index: 2;
    width: 40px;
    height: 40px;
    span {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      background-color: white;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      transition: box-shadow 0.2s ease;
      &:hover {
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        background-color: #368be6;
        svg {
          color: white;
        }
      }
      &:hover {
        box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      }
      svg {
        color: #368be6;
        width: 28px;
        height: 28px;
      }
    }
    input {
      pointer-events: none;
      user-select: none;
      opacity: 0;
      outline: 0;
      position: absolute;
    }
    &_visible {
      display: block;
    }
  }
}