.ce-toolbar {
  z-index: 11;
}

.tc-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  &__container {
    padding: 40px 16px 16px 40px;
    margin: -24px 0 0 -24px;
    position: relative;
    overflow: hidden;
    &_readonly {
      padding: 16px 0;
      margin: 0;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__with_border {
    .tc-table__cell {
      border-color: #DBDBE2;
    }
  }
  &__wrap {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  &__tr_remove,
  &__td_remove {
    background-color: rgba(#d62c0b, 0.2);
    transition: background-color 0.2s ease;
  }
  &__cell {
    border: 1px solid transparent;
    padding: 0;
    vertical-align: top;
    position: relative;
  }
  &__add_row_button,
  &__add_column_button {
    background-color: #dfe0e2;
    height: 16px;
    left: 25px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: opacity 0.2s ease;
    &:after {
      content: "+";
      color: #4a525f;
    }
    &:hover {
      background-color: #4a525f;
      &:after {
        color: #fff;
      }
    }
  }
  &__add_row_button {
    border-radius: 0 6px 8px 0;
    height: auto;
    width: 16px;
    left: auto;
    right: 0;
    top: 25px;
    bottom: 0;
  }
  &__add_row,
  &__add_column {
    flex-direction: column;
    left: -10px;
    top: -38px;
    position: absolute;
    align-items: center;
    display: flex;
    height: 4000px;
    width: 20px;
    pointer-events: none;
    > div:first-child {
      width: 20px;
      height: 20px;
      align-items: center;
      justify-content: center;
      display: flex;
      pointer-events: all;
      &:before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #4a525f;
      }
      &:after {
        content: "+";
        width: 20px;
        height: 20px;
        background-color: #72b6ec;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding-bottom: 1px;
      }
      &:hover {
        &:before {
          display: none;
        }
        &:after {
          display: flex;
        }
        & ~ div {
          opacity: 1;
        }
      }
    }
    > div:last-child {
      width: 3px;
      height: 100%;
      background-color: #72b6ec;
      margin-top: 18px;
      opacity: 0;
    }
  }
  &__add_row {
    flex-direction: row;
    left: -37px;
    top: -11px;
    justify-content: center;
    height: 20px;
    width: 4000px;
    > div:last-child {
      width: 100%;
      height: 3px;
      margin-left: 17px;
      margin-top: 0;
    }
  }
  &__add_column {
    &_end {
      left: auto;
      right: -9px;
    }
  }
  &__add_row {
    &_end {
      top: auto;
      bottom: -9px;
    }
  }
  &__resize_column {
    position: absolute;
    top: -1px;
    height: 100%;
    left: -2px;
    width: 3px;
    background-color: #4a525f;
    cursor: col-resize;
    z-index: 1;
    opacity: 0;
  }
  &__select_line_col,
  &__select_line_row {
    position: absolute;
    height: 16px;
    top: -16px;
    left: -1px;
    right: -1px;
    background-color: rgba(#4a525f, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #d62c0b;
    }
  }
  &__select_line_row {
    height: auto;
    width: 16px;
    left: -16px;
    top: -1px;
    bottom: -1px;
    right: auto;
  }
  &__area {
    padding: 10px;
    height: 100%;
  }
  &__inp {
    outline: none;
    flex-grow: 100;
    min-height: 1.5em;
    height: 100%;
    overflow: hidden;
  }

  .tc-table__cell.selected {
    background-color: #eef7ff;
    border-color: #0065FF;

    &::after {
      height: 100%;
      width: 100%;
      border: 1px solid #0065FF;
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: 0px;
      z-index: 12;
      display: inline-block;
      pointer-events: none;
    }
  }
  .context-menu {
    position: fixed;
    width: 200px;
    height: auto;
    z-index: 99;
    background-color: #efefef;

    &:hover {
      background-color: #eae6e6;
    }

    &__button {
      width: calc(100% - 20px);
      height: 40px;
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 13px;
      cursor: pointer;
    }
  }
}